@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import 'devicon/devicon';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-shadow: 10px 15px rgba(0, 0, 0, 0.1);
}

p {
    font-family: 'Open Sans', sans-serif;
}

.App {
    background-color: #d7e8ff;
    transition: ease-in-out background-color 0.3s;
    z-index: 2;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: 1;
}
